{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/css/bootstrap-select.min.css">
{% endblock %}


{% block body %}

    <div class="container">
        <h1>University Rankings</h1>
        <select id="combobox" class="selectpicker"></select>
        <div id="bar-chart-universities"></div>
        <div id="bar-chart-location"></div>
        <div id="world-map"></div>
    </div>


    <script>
        let universities = {{ universities | safe }};
        let features = {{ features | safe }};
    </script>
    <script src="../static/js/barCharts.js" type="text/javascript"></script>
    <script src="../static/js/changeFeature.js" type="text/javascript"></script>
    <script src="../static/js/changeUniversity.js" type="text/javascript"></script>
    <script src="../static/js/worldMap.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js"></script>

{% endblock %}